.HomePage {
  display: flex;
  flex-flow: row wrap;

  & > * {
    flex: 1 100%;
  }
}

@media all and (max-width: 600px) {
  .HomePage__aside {
    display: flex;
    flex-flow: column wrap;
  }
}

@media all and (min-width: 601px) {
  .HomePage__aside {
    flex: 1 20%;
    order: 1;
  }
  .HomePage__article {
    flex: 8 0;
    order: 2;
  }
}
