.LoginPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: deepskyblue;
  text-align: center;
  padding-top: 20%;

  &__login {
    font-size: 4em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 0.2s ease-out;

    &:hover {
      color: black;
    }
  }
}
