<article class="user-profile">
  <a href="/logout">Logout</a>
  <h1>{{ user.twitter.displayName }}</h1>

  <p>
    <strong>Role</strong>: {{ user.role }}<br>
    <strong>Id</strong>: {{ user.twitter.id }}<br>
    <strong>Token</strong>: {{ user.twitter.token }}<br>
    <strong>Username</strong>: {{ user.twitter.username }}<br>
  </p>

  <form action="/api/grab" method="post">
    <input type="number" name="season" value="6">
    <input type="hidden" name="show_id" value="{{ show.id }}">
    <input type="hidden" name="secret_key" value="{{ show.secret_key }}">

    <button type="submit">Update</button>
  </form>
</article>
